version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  frontend:
    build: ./Front
    ports:
      - "8080:8080"
    volumes:
      - ./Front:/app
    networks:
      - app-network
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge